body {
  background-image: url("../img/city.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 50px;
}

header {
  background-color: whitesmoke;
  opacity: .7;
  padding: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  margin-bottom: 50px;
}

h3 {
  font: bolder;
  font-size: 150%;
  word-wrap: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-48%, -48%);
  width: 85%;
}

#description {
  font: bolder;
  font-size: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
  text-align: left;
  width: 85%;
}

.alignment {
  word-wrap: normal;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

ol {
  list-style-type: decimal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  width: 100%;
  margin-top: 5%;
}

ul {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  width: 100%;
  list-style-type: square;
  margin-top: 5%;
}

li {
  font-size: 80%;
  margin-bottom: 10px;
}

img {
  display: block;
  width: 100%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#me {
  opacity: .9;
}

/*Flip card the W3School Way*/

.container {
  height: 61vh;
  width: 35vw;
  margin-top: 50px;
}

.flip {
  font-size: 25px;
  text-align: left;
  width: 100%;
  transition: transform .75s;
  transform-style: preserve-3d;
  height: 100%;
}

.container:hover .flip {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
  border-radius: 15px;
  background-color: whitesmoke;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  opacity: .85;
  z-index: 2;
}

.back {
  position: absolute;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
  border-radius: 15px;
  background-color: whitesmoke;
  opacity: .85;
  z-index: 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/*-------------*/

@media screen and (max-width: 1080px) {
  .container {
    width: 50vw;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 800px) {
  li {
    font-size: 15px;
  }
  .container {
    width: 500px;
  }
}

@media screen and (max-height: 520px) {
  li {
    font-size: 15px;
    margin-bottom: 0;
  }
}

@media screen and (max-height: 350px) {
  li {
    font-size: 10px;
    margin-bottom: 0;
  }
}
