body{
  background-color: gold;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 50px;
}

header {
  background-color: whitesmoke;
  padding: 20px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.15);
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div {
  padding: 20px;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  background-color: lavenderblush;
  text-align: left;
  width: 40%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.15);
  border-radius: 15px;
}

h3 {
  font: bolder;
  text-align: center;
  text-decoration: underline;
}

ol{
  list-style-type: numeric;
  margin: 20px;
  padding: 20px;
}

ul {
  list-style-type: square;
  margin: 20px;
  padding: 20px;
}

li {
  font-size: 25px;
  margin: 5px;
}

img {
  display: block;
  width: 85%;
  margin: 20px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}